# Пример файла с переменными окружения
# Скопируйте этот файл в .env и заполните реальными значениями

# Яндекс.Карты API ключ, если будет использовать MapKit для нативного отображения (не обязательно)
YANDEX_MAPS_API_KEY=
# Supabase (обязательно)
EXPO_PUBLIC_SUPABASE_URL=
EXPO_PUBLIC_SUPABASE_ANON_KEY=